body{
	background-color: blue;
}

div{
	background-color: red; 
	border:1px solid black;
}

#store-name{
	background-color: pink;
}

.individual-pet{
	border:5px solid yellow;
}

img{
	display: block;
	margin: auto;
	width: 40%;
}

h1 {
	text-align: center;
	font-size: 500%;
}

h2 {text-align: center;
	font-size: 425%;

}

h3{text-align:center;
	font-size:350%;

}
